
body {
	font-family: 'Ubuntu Mono';
}

.main-ui {
	margin: 20px auto 0 10px;
}
/*
.backgorund {
	background: #708090;
}*/

.main-ui a {
	display:block;
	font-size:1.2em;
	padding-top:20px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}

.clear {
	clear: both;
}

/*
Tabs for each measure/riff
*/
.measure-ui {
	padding: 5px;
}

.measure-headers > ul > li {
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.measure-headers-list-selected {
	background: orange;
	color: #000;
}

.measure-headers-list-selected:hover{
	background: orangered;
	color: #000;
	cursor: pointer;
}

.measure-headers-list-unselected {
	background: #C9C9C9;
	color: #000;
}

.measure-headers-list-unselected:hover{
	background: orchid;
	color: #000;
	cursor: pointer;
}

.header-size {
	min-width: 15px;
	min-height: 15px;
}

.measure-content {
	/*overflow: auto;*/
}

.tab-div {
	margin: 20px;
	border-width: 1px;
	border-top-width: 2px;
}

/*
Tablature
*/

.tuning-column {
	float: left;
	/*width: 15px;*/
	margin: 0 0 0 0;
}

.tuning-list li {

}

.tuning-cell {
	list-style-type: none;
	border: solid;
	border-width: 0px 2px 0px 0px;
}

/*
.columns {
-webkit-column-count: 11;
/* -moz-column-count: 10; */
/* column-count: 10; */
}*/

.float-left {
	float: left;
}
/*
Tablature cells
*/
// Arrange the tablature horizontally
.cell {
	background: #ffffff;
	width: 20px;
	height: 20px;
	text-align: center;
	border: none;
}

.input-list {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

.input-list li {
	width: 20px;
	height: 20px;
	text-align: center;
	border: none;
	background: #ffffff;

	display: inline-block;
	float: none;
	/*margin: 0 -3px 0 0;*/
}

.input-list .input-cell:hover {
	background: orchid;
}

.input-list .ui-selecting {
	background: orange;
}

.input-list .ui-selected {
	background: orange;
}

.input-list .ui-selected:hover {
	background: orangered;
}

.quick-reference {
	margin: 20px;
}

.ascii {
	width: 90%;
	height: 239px;
	/*margin-left: 63px;*/
	border-width: 5px 0px 5px 0px;
	padding: 15px 5px 5px 30px;
	border-style: inset;
	overflow: auto;
	font-size: medium;
	white-space: pre;
	word-wrap: normal;
}

.measure-size {
	display: inline-flex;
}

.context-menu {
	display: none;
	z-index:100;
    position: absolute;
    background-color: #FFF;
    border: 1px solid black;
}

.measure-context-menu-items {
	list-style-type: none;
	padding: 5px 0px 5px 0px;
	margin: 0px;
}

.measure-context-menu-item {
	padding: 5px 25px 5px 25px;
}

.measure-context-menu-item:hover {
	background: rgb(213, 232, 249);;
}
