#measure-content {
	color:#333;
}

#tab-div {
    margin: 20px;
    border-width: 1px;
    border-top-width: 2px;
}

.columns {
    -webkit-column-count: 21;
    -moz-column-count: 20;
    column-count: 21;
}

.float-left {
    float: left;
}
/*
Tablature cells
*/
// Arrange the tablature horizontally
.cell {
    background: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
}

.tuning-cell {
    border: solid;
    border-width: 0px 2px 0px 0px;
}

.input-cell:hover {
    opacity: 0.5;
    background: orange;
}

.ui-selecting {
    background: orange;
}

.ui-selected {
    background: orange;
}
